extends layout-noscript

block content
  div#blocker
    div#instructions
      div#cc
        div#logo
          img(src='/images/ooo-logo.png')
        h1 NTO WATER
        h3 Please use a desktop computer
        div#footer
          a(href='https://netro.cc', target='_blank') A NETRO CAMPAIGN

