extends layout-noscript

block content
  div#blocker
    div#instructions
      div#cc
        div#logo
          img(src='/images/ooo-logo.png')
        h1 NTO WATER
        h2 Click to play
        div
          ul
            li
              div
                img(src='/images/icon-move.png')
              div.info MOVE
            li
              div
                img(src='/images/icon-look.png')
              div.info LOOK
            li
              div
                img(src='/images/icon-throw.png')
              div.info THROW
            li
              div
                img(src='/images/icon-jump.png')
              div.info JUMP
        div#footer
          a(href='https://netro.cc', target='_blank') A NETRO CAMPAIGN

