extends layout

block content
  div#blocker
    div#instructions
      span(style='font-size:40px') Click to play
      div (W,A,S,D = Move, SPACE = Jump, MOUSE = Look, CLICK = Shoot)

  div#loading
    div.label LOADING
    div#bar
